@use '../variables' as *;

.bike-map, #bike-map-wrapper {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    margin: auto;
}

#bike-map-wrapper {
    padding: 10px $map-margin-default;
    @media (max-width: $width--tablet) {
        padding: 10px $map-margin-tablet;
    }

    @media (max-width: $width--mobile) {
        padding: 10px $map-margin-mobile;
    }
}

.bike-map {
    border: solid $color--dark 1px;
}

#filter-sidebar {
    position: absolute;
    right: calc($map-margin-default + 10px);
    margin-top: $header-height;
    z-index: 10;

    .filters {
        background-color: $color--white;
        border: solid $color--dark 1px;
        
        display: flex;
        flex-direction: column;
    }

    @media (max-width: $width--tablet) {
        right: calc($map-margin-tablet + 10px);
    }
    @media (max-width: $width--mobile) {
        right: calc($map-margin-mobile + 10px);
    }
}