@use 'variables' as *;

body {
    font-family: "Open Sans", sans-serif;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6, #site-title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

h1, h2, #site-title {
    font-weight: 600;
    color: $color--dark;
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}

p {
    margin: 0;
}

/* SITE TITLE AND NAV */
#site-title {
    color: $color-secondary--green;
    font-weight: 700;
    font-size: 42px;
}

.nav-bar__list {
    a {
        color: $color--dark;
        text-decoration: none;
        font-size: 18px;

        &:hover {
            color: $color-primary--accent;
        }

        &[aria-current='page'] {
            color: $color-primary--teal;
            font-weight: 700;
            &:hover { color: $color-primary--accent; }
        }
    }
}