/* COLORS */
$color-primary--teal: #009F9D;
$color-primary--accent: #FBAD18;
$color--dark: #303244;
$color--white: #F4F4F4;
$color--grey: #EAE8E9;

$color-secondary--teal: #4BC0B1;
$color-secondary--green: #005152;
$color-secondary--navy: #424963;
$color-secondary--royalBlue: #3862AE;
$color-secondary--orange: #F3735A;
$color-secondary--red: #F0565F;

/* FONTS */
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont.woff2") format("woff2");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont.woff2") format("woff2");
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-style: italic;
  font-display: swap;
}