@use 'variables' as *;
@use 'typography' as *;
@use 'components/bikeMap';

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: $color--white;
}

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}