@use 'variables' as *;
@use 'typography' as *;
@use 'components/bikeMap';
@use 'components/navBar';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: $color--white;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#footer-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 120px;

  color: $color-secondary--teal;
  font-size: .75em;

  a {
    color: $color-primary--teal;
    text-decoration: dotted;

    &:hover { color: $color-primary--accent; text-decoration: underline; }
    &:visited { color: $color-secondary--green; }
  }
}